<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Templated boxes (inline)</title>
    <meta name="description" content="Templated boxes (inline) vr-component">
    <script src="../../build/vr-components.js"></script>
  </head>
  <body>
    <vr-assets>
      <vr-mixin id="cube" geometry="primitive: box"></vr-mixin>
    </vr-assets>

    <vr-scene>
      <vr-object camera="fov: 45" position="0 0 20" controls="mouselook: true; locomotion: true"></vr-object>

      <vr-box color="hotpink" position="-5 0 0"></vr-box>

      <vr-box color="cyan" position="1 -1 0" rotation="-45 -45 0"></vr-box>
    </vr-scene>

    <vr-template name="vr-box" color="orange" rotation="0 45 0">
      <vr-object mixin="cube" position="${position}" rotation="${rotation}" material="color: ${color}"></vr-object>
    </vr-template>
  </body>
</html>
