<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="description" content="Template vr-component">
    <script src="../../build/vr-components.js"></script>
  </head>
  <body>
    <vr-assets>
      <vr-style id="cube" geometry="primitive: box" material="color: red"></vr-style>
      <vr-style id="sphere" geometry="primitive: sphere" material="color: blue"></vr-style>
    </vr-assets>

    <vr-scene>

      <vr-object camera="fov: 45" position="0 0 20" controls="mouselook: true; locomotion: true"></vr-object>

      <vr-object class="cube" position="-18 -3 0" rotation="0 -45 0" material="color: purple"></vr-object>

      <vr-cubes></vr-cubes>
      <vr-cubes></vr-cubes>

      <vr-saturn></vr-saturn>

      <vr-hockeypuck></vr-hockeypuck>

      <vr-package></vr-package>

      <vr-template register="vr-cubes">
        <vr-object class="cube" position="-8 3 0" rotation="30 45 0" material="color: red"></vr-object>
        <vr-object class="cube" position="0 2 2" rotation="30 45 0" material="color: white"></vr-object>
        <vr-object class="cube" position="7 -3 2" rotation="30 45 0" material="color: blue"></vr-object>
      </vr-template>

      <vr-template register="vr-saturn">
        <vr-football></vr-football>
        <vr-tennisball></vr-tennisball>
      </vr-template>

      <vr-template register="vr-football">
        <vr-object class="sphere" position="-8 -4 -2" rotation="0 45 0" scale=".8 .25 .8" material="color: orange"></vr-object>
      </vr-template>

      <vr-template register="vr-tennisball">
        <vr-object class="sphere" position="-8 -4 -2" rotation="0 45 0" scale=".5 .5 .5" material="color: yellow"></vr-object>
      </vr-template>

      <vr-template register="vr-hockeypuck">
        <vr-object class="sphere" position="-2 -7 -4" rotation="0 45 0" scale="1 .25 .05" material="color: black"></vr-object>
      </vr-template>

      <vr-template register="vr-package">
        <vr-object class="cube" position="13 5 -4" rotation="30 -50 10" scale=".5 .5 .5" material="color: yellow"></vr-object>
      </vr-template>

     </vr-scene>
  </body>
</html>
