language: node_js

node_js:
  - '0.12'

install:
  - npm install
  - ./node_modules/.bin/mozilla-download ./firefox/ --product firefox --branch mozilla-central
  - export FIREFOX_NIGHTLY_BIN="./firefox/firefox/firefox-bin"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - $CI_ACTION

env:
  global:
    - TEST_SUITE=unit
  matrix:
    - CI_ACTION="npm run test:ci"

branches:
  only:
    - master
    - dev