html {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.a-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

a-scene video, a-assets video,
a-scene img, a-assets img {
  display: none;
}
