html {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.a-hidden {
  display: none;
}

.a-canvas {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

a-assets,
a-scene video,
a-scene img {
  display: none;
}

.a-enter-vr {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  bottom: 5px;
  display: flex;
  display: -webkit-flex;
  font-family: 'Fira Sans', monospace, sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  height: 72px;
  position: fixed;
  right: 5px;
}

.a-enter-vr-button {
  background: rgba(0, 0, 0, 0.35) url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245.82%20141.73%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Emask%3C%2Ftitle%3E%3Cpath%20class%3D%22a%22%20d%3D%22M175.56%2C111.37c-22.52%2C0-40.77-18.84-40.77-42.07S153%2C27.24%2C175.56%2C27.24s40.77%2C18.84%2C40.77%2C42.07S198.08%2C111.37%2C175.56%2C111.37ZM26.84%2C69.31c0-23.23%2C18.25-42.07%2C40.77-42.07s40.77%2C18.84%2C40.77%2C42.07-18.26%2C42.07-40.77%2C42.07S26.84%2C92.54%2C26.84%2C69.31ZM27.27%2C0C11.54%2C0%2C0%2C12.34%2C0%2C28.58V110.9c0%2C16.24%2C11.54%2C30.83%2C27.27%2C30.83H99.57c2.17%2C0%2C4.19-1.83%2C5.4-3.7L116.47%2C118a8%2C8%2C0%2C0%2C1%2C12.52-.18l11.51%2C20.34c1.2%2C1.86%2C3.22%2C3.61%2C5.39%2C3.61h72.29c15.74%2C0%2C27.63-14.6%2C27.63-30.83V28.58C245.82%2C12.34%2C233.93%2C0%2C218.19%2C0H27.27Z%22%2F%3E%3C%2Fsvg%3E) 50% 50% no-repeat;
  background-size: 70% 70%;
  border: 0;
  bottom: 0;
  color: #FFF;
  cursor: pointer;
  height: 50px;
  transition: background .1s ease;
  -webkit-transition: background .1s ease;
  width: 60px;
  z-index: 999999;
}

.a-enter-vr-button:active,
.a-enter-vr-button:hover {
  background-color: #333333;
}

[data-a-enter-vr-no-webvr] .a-enter-vr-button {
  border-color: #333;
  opacity: 0.65;
}

[data-a-enter-vr-no-webvr] .a-enter-vr-button:active,
[data-a-enter-vr-no-webvr] .a-enter-vr-button:hover {
  background-color: rgba(0, 0, 0, .35);
  cursor: not-allowed;
}

.a-enter-vr-modal {
  background-color: #333333;
  border-radius: 0;
  color: #FFF;
  height: 32px;
  opacity: 0;
  margin-right: 10px;
  padding: 9px;
  width: 220px;
  position: relative;
  transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
}

.a-enter-vr-modal:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #333333;
  border-top: 10px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
  right: -5px;
  top: 5px;
  width: 0;
  height: 0;
}

.a-enter-vr-modal p {
  margin: 0;
  display: inline;
}

.a-enter-vr-modal p:after {
  content: ' ';
  /*padding: 2px 30px 2px 0;*/
}

.a-enter-vr-modal a {
  color: #FFF;
  display: inline;
  /*padding: 2px 30px 2px 0;*/
}

[data-a-enter-vr-no-webvr]:hover .a-enter-vr-modal,
[data-a-enter-vr-no-headset]:hover .a-enter-vr-modal {
  opacity: 1;
}

@media (min-width: 480px) {
  .a-enter-vr {
    bottom: 20px;
    right: 20px;
  }
}
