html {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

a-scene video, a-assets video,
a-scene img, a-assets img {
  display: none;
}

.a-button {
  background-color: #303030;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  width: 90px;
  height: 25px;
  line-height: 20px;
  vertical-align: middle;
  z-index: 999999;
}

.a-button:hover {
  background-color: gray;
  color: white;
}

.a-enter-vr-button {
  position: fixed;
  top: 20px;
  left: 30px;
}
