html {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

vr-scene video, vr-assets video,
vr-scene img, vr-assets img {
  display: none;
}
