<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="2.40.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.40.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.9.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="2.40.0.0" targetFramework="net45" />
</packages>