button {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #303030;
  border: 1px solid white;
  padding: 5px;
  width: 90px;
  z-index: 9999;
}

button:hover {
  color: #303030;
  background-color: gray;
  color: white;
}

.vr-button {
  top: 20px;
  left: 30px;
}