<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Templated boxes (inline)</title>
    <meta name="description" content="Templated boxes (inline) vr-component">
    <script src="../../build/vr-components.js"></script>
  </head>
  <body>
    <vr-assets>
      <vr-mixin id="cube" geometry="primitive: box"></vr-mixin>
    </vr-assets>

    <vr-scene>
      <vr-object camera="fov: 45" position="0 0 20" controls="mouselook: true; locomotion: true"></vr-object>

      <vr-box color="hotpink" position="-10 0 0" scale=".5 .5 .5"></vr-box>

      <vr-box color="cyan" position="1 -3 0" rotation="25 -45 0"></vr-box>
    </vr-scene>

    <template is="vr-template" element="vr-box" color="cyan">
      <vr-object mixin="cube" material="color: ${color}"></vr-object>
    </template>
  </body>
</html>
