<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Templated boxes (inlined)</title>
    <meta name="description" content="Templated boxes (inlined) – A-Frame">
    <script src="../../build/aframe.js"></script>
  </head>
  <body>
    <template is="a-template" element="a-box" color="cyan">
      <a-entity geometry="primitive: box" material="color: ${color}"></a-entity>
    </template>

    <a-scene>
      <a-box color="hotpink" position="-2 0 2" scale=".25 .25 .25"></a-box>
      <a-box color="cyan" position="2 2 0" rotation="25 -45 0"></a-box>
    </a-scene>
  </body>
</html>
