<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lots of templated entities (inlined)</title>
    <meta name="description" content="Lots of templated entities (inlined) – A-Frame">
    <script src="../../build/aframe.js"></script>
  </head>
  <body>
    <a-assets>
      <a-mixin id="cube" geometry="primitive: box" material="color: red"></a-mixin>
      <a-mixin id="sphere" geometry="primitive: sphere" material="color: blue"></a-mixin>
    </a-assets>

    <a-scene>
      <a-camera position="0 0 35"></a-camera>

      <!-- using plain old entities -->
      <a-entity mixin="cube" position="-18 -3 0" rotation="0 -45 0" material="color: purple"></a-entity>

      <!-- using fancy templates -->
      <a-oval color="green"></a-oval>

      <a-box position="13 5 -5" rotation="40 -40 20"></a-box>
      <a-box color="hotpink" scale=".75 .25 .25" position="11 8 -4" rotation="30 -50 10"></a-box>
      <a-box color="#fd0" scale=".25 .25 .5" position="16 8 -4" rotation="35 -15 10"></a-box>

      <a-bigcubes></a-bigcubes>

      <a-saturn></a-saturn>
    </a-scene>

    <!-- making templates -->
    <template is="a-template" element="a-oval" color="salmon">
      <a-entity mixin="sphere" position="-2 -7 -4" rotation="0 45 0" scale="1 .25 .05" material="color: ${color}"></a-entity>
    </template>

    <template is="a-template" element="a-saturn">
      <a-football></a-football>
      <a-tennisball></a-tennisball>
    </template>

    <template is="a-template" element="a-football" color="orange">
      <a-entity mixin="sphere" position="-8 -4 -2" rotation="0 45 0" scale=".8 .25 .8" material="color: ${color}"></a-entity>
    </template>

    <template is="a-template" element="a-tennisball">
      <a-entity mixin="sphere" position="-8 -4 -2" rotation="0 45 0" scale=".5 .5 .5" material="color: ${color=yellow}"></a-entity>
    </template>

    <template is="a-template" element="a-box" color="cyan">
      <a-entity mixin="cube" material="color: ${color}"></a-entity>
    </template>

    <template is="a-template" element="a-bigcubes" color1="red" color2="white" color3="blue">
      <a-entity mixin="cube" position="-8 3 0" rotation="30 45 0" material="color: ${color1}"></a-entity>
      <a-entity mixin="cube" position="0 2 2" rotation="30 45 0" material="color: ${color2}"></a-entity>
      <a-entity mixin="cube" position="7 -3 2" rotation="30 45 0" material="color: ${color3}"></a-entity>
    </template>
  </body>
</html>
