<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lots of templated entities (imported)</title>
    <meta name="description" content="Lots of templated entities (imported) – A-Frame">
    <script src="../../build/aframe.js"></script>
    <link rel="import" href="templates/multiple/index.html">
  </head>
  <body>
    <a-assets>
      <a-mixin id="cube" geometry="primitive: box" material="color: red"></a-mixin>
      <a-mixin id="sphere" geometry="primitive: sphere" material="color: blue"></a-mixin>
    </a-assets>

    <a-scene>
      <a-camera position="0 0 15"></a-camera>

      <a-entity mixin="cube" position="-18 -3 0" rotation="0 -45 0" material="color: purple"></a-entity>

      <a-oval color="green"></a-oval>

      <a-box position="13 5 -5" rotation="40 -40 20"></a-box>
      <a-box color="hotpink" scale=".75 .25 .25" position="11 8 -4" rotation="30 -50 10"></a-box>
      <a-box color="#fd0" scale=".25 .25 .5" position="16 8 -4" rotation="35 -15 10"></a-box>

      <a-bigcubes></a-bigcubes>

      <a-saturn></a-saturn>

    </a-scene>
  </body>
</html>
