<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AppVeyor - MainFrame" value="https://ci.appveyor.com/nuget/mainframe-f0061yrlg4he"  />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>