.rs-base {
  position: absolute;
  z-index: 10000;
  padding: 10px;
  background-color: #ed134a;
  width: 300px;
  font: 300 10px monospace;
  left: 5px;
  top: 5px;
  overflow: hidden;
  opacity: 0.85;
}

.rs-base h1 {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 5px;
  color: #111;
  cursor: pointer;
}

.rs-base div.rs-group {
  margin-bottom: 10px;
}

.rs-base div.rs-group:last-child {
  margin-bottom: 0;
}

.rs-base div.rs-group.hidden {
  display: none;
}

.rs-base div.rs-fraction {
  position: relative;
  margin-bottom: 5px;
}

.rs-base div.rs-fraction p {
  width: 70px;
  text-align: right;
  margin: 0;
  padding: 0;
}

.rs-base div.rs-legend {
  position: absolute;
  line-height: 1em;
}

.rs-base div.rs-counter-base {
  position: relative;
  margin: 4px 0;
  height: 1em;
}

.rs-base span.rs-counter-id {
  position: absolute;
  left: 0;
  top: 0;
}

.rs-base div.rs-counter-value {
  position: absolute;
  left: 40px;
  width: 30px;
  height: 1em;
  top: 0;
  text-align: right;
}

.rs-base canvas.rs-canvas {
  position: absolute;
  right: 0;
  top: 2px;
}

@media (min-width: 480px) {
  .rs-base {
    left: 20px;
    top: 20px;
  }
}
