<a-assets>
  <a-mixin id="link" geometry="primitive: plane; width: 1.0; height: 1.0"></a-mixin>
  <a-mixin id="link-hovered" geometry="primitive: plane; width: 1.2; height: 1.2"></a-mixin>
  <a-mixin id="link-selected" geometry="primitive: plane; width: 1.4; height: 1.4"></a-mixin>
</a-assets>

<template is="a-template" element="a-pano-link" src="" holderSrc="">
  <a-object mixin="link" material="shader: flat; src: url(${src})">
    <a-click target="#holder" material="shader: flat; src: url(${holderSrc})"></a-click>
    <a-click state="selected"></a-click>
  </a-object>
</template>

<template is="a-template"
          element="a-cursor-gaze"
          fov="45"
          look-controls-enabled="true"
          wasd-controls-enabled="true"
          colorDefault="gray"
          colorHover="springgreen"
          dur="1500"
          from="1 1 1"
          to="0.2 0.2 0.2"
          primitive="ring"
          outerRadius="0.20"
          innerRadius="0.14"
          timeout="1500">
  <a-object camera="fov: ${fov}"
            look-controls="enabled: ${look-controls-enabled}"
            wasd-controls="enabled: ${wasd-controls-enabled}">
    <a-object id="cursor"
              position="0 0 -3"
              geometry="primitive: ${primitive}; outerRadius: ${outerRadius}; innerRadius: ${innerRadius}"
              material="color: ${colorDefault}"
              cursor="timeout: ${timeout}; fuse: true">
      <a-mouseenter target="#cursor" material="color: ${colorHover}"></a-mouseenter>
      <a-mouseleave target="#cursor" material="color: ${colorDefault}"></a-mouseleave>
      <a-animation begin="hovering"
                   easing="ease-in"
                   attribute="scale"
                   from="${from}"
                   to="${to}"
                   dur="${dur}"></a-animation>
    </a-object>
  </a-object>
</template>

<template is="a-template" element="a-pano-holder" size="10">
  <a-object id="holder" scale="1 1 -1" geometry="primitive: sphere; radius: ${size}" material="shader: flat; src: url(${src})"></a-object>
</template>

<template is="a-template" element="a-pano-nav">
</template>
