<template is="vr-template"
          element="vr-cylinder"
          radius="0.5"
          height="1"
          segments-radius="36"
          segments-height="4"
          theta-start="0"
          theta-length="6.3"
          open-ended="false"
          color="gray"
          metalness="0.0"
          roughness="0.5"
          url="">
  <vr-object geometry="primitive: cylinder;
                       radius: ${radius};
                       height: ${height};
                       segmentsRadius: ${segments-radius};
                       segmentsHeight: ${segments-height};
                       thetaStart: ${theta-start};
                       thetaLength: ${theta-length};
                       openEnded: ${open-ended}"
             material="color: ${color};
                       metalness: ${metalness};
                       roughness: ${roughness};
                       src: url(${url})"></vr-object>
</template>
