<template is="vr-template"
          element="vr-camera"
          fov="45"
          near="1"
          far="10000"
          look-controls-enabled="true"
          wasd-controls-enabled="true"
          cursor-visible="true"
          cursor-distance="1"
          cursor-color="#FFF"
          cursor-depth="10"
          cursor-scale="1">
    <a-object camera="fov: ${fov}; near: ${near}; far: ${far}"
               look-controls="enabled: ${look-controls}"
               wasd-controls="enabled: ${wasd-controls}">
      <a-object visible="${cursor-visible}"
                 position="0 0 -${cursor-distance}" 
                 geometry="primitive: ring; outerRadius: 0.008; innerRadius: 0.006"
                 material="color: ${cursor-color}; shader: flat;"
                 scale="${cursor-scale} ${cursor-scale} ${cursor-scale}"
                 cursor="maxDistance: ${cursor-depth};">
      </a-object>
    </a-object>
</template>
