<template is="vr-template"
          element="vr-light"
          angle="1.04719755"
          color="#fff"
          ground-color="#fff"
          decay="1"
          distance="0.0"
          exponent="10.0"
          intensity="1.0"
          type="directional">
  <vr-object light="angle: ${angle};
                    color: ${color};
                    groundColor: ${ground-color};
                    decay: ${decay};
                    distance: ${distance};
                    exponent: ${exponent};
                    intensity: ${intensity};
                    type: ${type}">
  </vr-object>
</template>
