<template is="vr-template"
          element="vr-plane"
          width="1"
          height="1"
          color="gray"
          metalness="0.0"
          roughness="0.5"
          src="">
  <vr-object geometry="primitive: plane;
                       height: ${height};
                       width: ${width}"
             material="color: ${color};
                       metalness: ${metalness};
                       roughness: ${roughness};
                       src: url(${src})"></vr-object>
</template>
