<template is="vr-template"
          element="vr-sphere"
          radius="5"
          segments-width="36"
          segments-height="18"
          theta-start="0"
          theta-length="6.3"
          color="gray"
          metalness="0.0"
          roughness="0.5"
          url="">
  <vr-object geometry="primitive: sphere;
                       radius: ${radius};
                       segmentsWidth: ${segments-width};
                       segmentsHeight: ${segments-height};
                       thetaStart: ${theta-start};
                       thetaLength: ${theta-length}"
             material="color: ${color};
                       metalness: ${metalness};
                       roughness: ${roughness};
                       src: url(${url})"></vr-object>
</template>
