<template is="vr-template"
          element="vr-videosphere"
          src=""
          radius="5000"
          segments-width="64"
          segments-height="64"
          autoplay="true"
          loop="true"
          crossOrigin="anonymous">
  <video  id="video"
          src="${src}"
          width="1000"
          height="500"
          autoplay="${autoplay}"
          loop="${loop}"
          crossOrigin="${crossOrigin}"
          style="display:none;">
  </video>
  <vr-object geometry="primitive: sphere;
                       radius: ${radius};
                       segmentsWidth: ${segments-width};
                       segmentsHeight: ${segments-height};"
             material="shader: flat; src: #video;"
             scale="-1 1 1">
  </vr-object>
</template>
