<template is="vr-template"
          element="vr-video"
          src=""
          width="4"
          height="2"
          autoplay="true"
          loop="true"
          crossOrigin="anonymous">
  <video  id="video"
          src="${src}"
          width="${width}"
          height="${height}"
          autoplay="${autoplay}"
          loop="${loop}"
          crossOrigin="${crossOrigin}"
          style="display:none;">
  </video>
  <vr-object geometry="primitive: plane;
                       height: ${height};
                       width: ${width};"
             material="src: #video;">
  </vr-object>
</template>
