<template is="vr-template"
          element="vr-videosphere"
          src=""
          radius="5000"
          segments-width="32"
          segments-height="24"
          autoplay="true"
          loop="true"
          crossOrigin="anonymous">
  <video  id="video"
          src="${src}"
          width="1000"
          height="500"
          autoplay="${autoplay}"
          loop="${loop}"
          crossOrigin="${crossOrigin}"
          style="display:none;">
  </video>
  <vr-object geometry="primitive: sphere;
                       radius: ${radius};
                       segmentsWidth: ${segments-width};
                       segmentsHeight: ${segments-height};"
             material="receiveLight: false; src: #video;"
             scale="-1 1 1">
  </vr-object>
</template>
