<template is="a-template"
          element="a-curvedimage"
          radius="1"
          height="1"
          segments-radius="48"
          theta-start="0"
          theta-length="360"
          opacity="1.0"
          transparent="true"
          src="">
  <a-entity geometry="primitive: cylinder;
                      radius: ${radius};
                      height: ${height};
                      segmentsRadius: ${segments-radius};
                      segmentsHeight: 1;
                      thetaStart: ${theta-start};
                      thetaLength: ${theta-length};
                      openEnded: true"
            scale="1 1 -1"
            material="opacity: ${opacity};
                      shader: flat;
                      side: double;
                      transparent: ${transparent};
                      src: url(${src})"></a-entity>
</template>
