<template is="a-template"
          element="a-frame"
          size="10"
          thickness="0.1"
          color="#404040">
  <a-cube position="5 5 0" rotation="0 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="5 -5 0" rotation="0 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="-5 5 0" rotation="0 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="-5 -5 0" rotation="0 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>

  <a-cube position="0 5 5" rotation="0 90 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="0 5 -5" rotation="0 90 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="0 -5 5" rotation="0 90 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="0 -5 -5" rotation="0 90 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>

  <a-cube position="5 0 5" rotation="90 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="5 0 -5" rotation="90 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="-5 0 5" rotation="90 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
  <a-cube position="-5 0 -5" rotation="90 0 0" width="${thickness}" height="${thickness}" depth="${size}" color="${color}"></a-cube>
</template>
