<template is="a-template"
          element="a-plane"
          width="1.75"
          height="1.75"
          translate="0 0 0"
          color="gray"
          opacity="1.0"
          shader="standard"
          transparent="true"
          metalness="0.0"
          roughness="0.5"
          src="">
  <a-entity geometry="primitive: plane;
                      height: ${height};
                      width: ${width};
                      translate: ${translate}"
            material="color: ${color};
                      opacity: ${opacity};
                      shader: ${shader};
                      transparent: ${transparent};
                      metalness: ${metalness};
                      roughness: ${roughness};
                      side: double;
                      src: url(${src})"></a-entity>
</template>
