<template is="a-template"
          element="a-camera"
          fov="80"
          near="0.5"
          far="10000"
          look-controls-enabled="true"
          wasd-controls-enabled="true"
          cursor-visible="true"
          cursor-offset="1"
          cursor-color="#FFF"
          cursor-maxdistance="1000"
          cursor-scale="1"
          cursor-opacity="1">
  <a-entity camera="fov: ${fov}; near: ${near}; far: ${far}"
            look-controls="enabled: ${look-controls-enabled}"
            wasd-controls="enabled: ${wasd-controls-enabled}">
    <a-entity visible="${cursor-visible}"
              position="0 0 -${cursor-offset}" 
              geometry="primitive: ring; outerRadius: 0.016; innerRadius: 0.01"
              material="color: ${cursor-color}; shader: flat; transparent: true; opacity: ${cursor-opacity}"
              scale="${cursor-scale} ${cursor-scale} ${cursor-scale}"
              cursor="maxDistance: ${cursor-maxdistance};">
    </a-entity>
  </a-entity>
</template>
