<template is="a-template"
          element="a-cylinder"
          radius="0.75"
          radius-top="1"
          radius-bottom="1"
          height="1.5"
          segments-radial="36"
          segments-height="1"
          theta-start="0"
          theta-length="360"
          open-ended="false"
          translate="0 0 0"
          color="gray"
          opacity="1.0"
          shader="standard"
          transparent="true"
          metalness="0.0"
          roughness="0.5"
          side="front"
          src="">
  <a-entity geometry="primitive: cylinder;
                      radius: ${radius};
                      radiusTop: ${radius-top};
                      radiusBottom: ${radius-bottom};
                      height: ${height};
                      segmentsRadial: ${segments-radial};
                      segmentsHeight: ${segments-height};
                      thetaStart: ${theta-start};
                      thetaLength: ${theta-length};
                      openEnded: ${open-ended};
                      translate: ${translate}"
            material="color: ${color};
                      opacity: ${opacity};
                      shader: ${shader};
                      metalness: ${metalness};
                      roughness: ${roughness};
                      side: ${side};
                      transparent: ${transparent};
                      src: url(${src})"></a-entity>
</template>
