<template is="a-template"
          element="a-sphere"
          radius="5"
          segments-width="36"
          segments-height="18"
          theta-start="0"
          theta-length="6.3"
          translate="0 0 0"
          color="gray"
          opacity="1.0"
          shader="standard"
          transparent="true"
          metalness="0.0"
          roughness="0.5"
          src="">
  <a-entity geometry="primitive: sphere;
                      radius: ${radius};
                      segmentsWidth: ${segments-width};
                      segmentsHeight: ${segments-height};
                      thetaStart: ${theta-start};
                      thetaLength: ${theta-length};
                      translate: ${translate}"
            material="color: ${color};
                      opacity: ${opacity};
                      shader: ${shader};
                      transparent: ${transparent};
                      metalness: ${metalness};
                      roughness: ${roughness};
                      src: url(${src})"></a-entity>
</template>
