<template is="a-template"
          element="a-videosphere"
          src=""
          radius="5000"
          segments-width="64"
          segments-height="64"
          autoplay="true"
          loop="true"
          crossOrigin="anonymous">
  <video id="a-videosphere-${__counter__}"
         src="${src}"
         width="1000"
         height="500"
         autoplay="${autoplay}"
         loop="${loop}"
         crossOrigin="${crossOrigin}"
         style="display: none">
  </video>
  <a-entity geometry="primitive: sphere;
                      radius: ${radius};
                      segmentsWidth: ${segments-width};
                      segmentsHeight: ${segments-height}"
            material="shader: flat; src: #a-videosphere-${__counter__}"
            scale="-1 1 1">
  </a-entity>
</template>
